<article class="post">
    {{ .Render "header" }}
    <div style="display: block; width: 100%; margin-top: 15px; margin-bottom: 15px;">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Post unique – 3 (mobile, techan.fr) -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-9979120049846119"
           data-ad-slot="1664305982"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
    <section id="social-share">
        <ul class="icons">
            {{ partial "share-links" . }}
        </ul>
    </section>
    {{ .Render "featured" }}
    {{ .Content }}

    <footer>
        {{ .Render "footer-category" }}
    </footer>
</article>
{{ .Render "prev-next" }}

{{ if ne .Site.DisqusShortname "" }}
    {{ if not (in (printf "%#v" .Site.BaseURL) "localhost") }}
        <article class="post">
            {{ template "_internal/disqus.html" . }}
        </article>
    {{ end }}
{{ end }}
